/* fonts from google  */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* Common styles  */

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", system-ui;
}
.common-p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 1.125rem;
  font-weight: 400;
  
}
.common-btn {
  background: #e55473;
  border-radius: 8px;
  padding: 20px 45px;
  color: #fff;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}
.common-btn:hover{
  background: #e21441;
}
.common-container {
  
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
}
.common-title{
  font-size: 1.8rem;
  font-weight: 800;
  color: #272727;
  
}
/* banner section styles  */
header {
  background: rgba(229, 84, 115, 0.1);
}
.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.banner-container {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
  gap: 100px;
}
.banner-txt {
  width: 50%;
  max-width: 525px;
}
.banner-txt * {
  padding-bottom: 30px;
}
.banner-txt h2 {
  color: #272727;
  font-size: 3.75rem;
  font-weight: 800;
}
.banner-pic img {
  width: 100%;
  vertical-align: middle;
}

/* featured flower section styles  */
.featured-container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    
}
.featured-title, .common-title{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    color: #272727;
    margin: 175px 0px 25px 0px;
}
.featured-container p{
    text-align: center;
    margin-bottom: 45px;
}
.featured-flowr-container{
  display: flex;
  justify-content: space-between;
}
.featured-flowr img{
  cursor: pointer;
  border-radius: 300px 300px 0px 0px;
  padding: 110px 75px 0;
  width: 315px;
  height: 470px;
 
}
.featured-flowr img:hover{
  width: 325px;
  height: 480px;
}
.flower-1 img{
  background: rgba(167, 33, 98, 0.15);
}
.flower-2 img{
  background: rgba(5, 151, 160, 0.15);
}
.flower-3 img{
  background: rgba(71, 125, 17, 0.15);
}
.featured-flwr-txt{
  color: #272727;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: underline;
  margin-top: 35px;
}

/* customer care section styles  */

.support-section-container{
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: center;
  gap: 200px;
  padding: 80px 0;
  margin-top: 120px;
}
.support-content  {
  text-align: center;
 
}
.support-content p{
  color: rgba(39, 39, 39, 0.80);
margin-top: 25px;
text-align: center;
font-size: 1.25rem;
font-weight: 600;
cursor: pointer;

}
.support-content img:hover{
  background-color: rgba(102, 51, 153, 0.26);
  border-radius: 50%;
}
  /* Hot deals section styles  */
.hot-deals-section{
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}

.hot-deals-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 130px;
  padding-top: 100px;
}
.hot-deals-txt{
  width: 100%;
  max-width:445px ;
   display: flex;
  flex-direction: column;
  align-items: center;
 text-align: center;
}
.hot-deals-pic img{
  width: 100%;
  margin-top: 50px;
  
}
.hot-deals-txt button{
  margin-top: 50px;
}

/* insta section styles  */
.insta-txt{
  text-align: center;
  margin: 25px 0 50px 0;
}
.insta-pics{
  display: flex;
  gap: 25px;
}
/* respinsive styles for small device  */

@media screen and (max-width: 576px) {
  .banner-container {
    flex-direction: column;
    margin: 0px 40px;
  }
  .featured-flowr-container{
    flex-direction:column;
    justify-content:baseline;
  }
   .support-section-container{
    flex-direction: column;
    gap: 100px;
   }
   .hot-deals-container{
    flex-direction: column;
    margin-top: 30px;
    padding-top: 10px;}
  .banner-txt {
    width: auto;
    text-align: center;
  }
  .featured-flowr img{
    padding:  0;
  }
}
/* resposive style for middle device  */

@media screen and (min-width: 577px) and (max-width: 1025px) {
  .banner-container {
    margin: 0px 40px;
  }
  .banner-txt {
    width: 40%;
    text-align: center;
  }
  .featured-flowr-container{
    flex-direction:column;
    justify-content:baseline;
    align-items: center;
  }
  .support-section-container{
    flex-direction: column;
    gap: 100px;
   }
   .hot-deals-txt button{
    margin-top:20px;
  }
  
}
